<div class="projects">
    <div class="heading">Projects
        <a href="https://github.com/manmeetskalra">
            <img class="lady1 fade" style="border-radius: 10%; width: 2.5rem;" src="assets/images/github.png"
              alt="githubicon"></a>
    </div>
    <div class="heading">
    <svg height="10" width="350">
        <line x1="0" y1="0" x2="500" y2="0" style="stroke:rgb(255, 255, 255);stroke-width:5" />
    </svg>
    </div>
    <div class="container">
        <div class="left-margin"></div>
        <div class="images">
            <a href="https://github.com/manmeetskalra/gitlab-analyzer">
            <div class="heading" style="font-size: 35px; text-transform:none; line-height: 0px;">GitLab Analyzer</div><p></a>
            
                    <li class="home-text1">
                    <ul>Created a web application to analyze GitLab repositories for individual contribution which can
                    be used as a tool for marking or KPI.</ul>

                    <ul>Designed a back-end interface for accessing the
                    Gitlab API to extract project repo data for
                    analysis.</ul>
                    <ul>Built UI components to calculate and represent
                    metrics in tabular form, and created Code
                    Difference page to compare commits made by
                    team across merge requests and issues.</ul>
                    <li><br>
            </div>

    </div>
    <br>
    <br>
    <br>
    <div class="images">
        <a href="https://github.com/manmeetskalra/covidhub">
        <div class="heading" style="font-size: 35px; text-transform:none; line-height: 0px;">CovidHub</div><p></a>
        
                <li class="home-text1">
                <ul>Built an end-to-end application that gives user
                    access to COVID related data and analytics via
                    email/text.
                    </ul>

                <ul>Created UI components to select filters and
                    request real-time Covid data. Developed REST
                    APIs to process filter and fetch data from third
                    party service.
                    </ul>
                <ul>Deployed the application using microservices
                    architecture on AWS using ECS.</ul>
                <li><br>
        </div>

    
</div>