.heading {
    text-align: center;
    font-family: "PT Sans";
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 2rem;
}