<div class="work-experience">
    <div class="heading">Work Experience</div>
    <div class="heading">
    <svg height="10" width="500">
        <line x1="0" y1="0" x2="2000" y2="0" style="stroke:rgb(0,0,0);stroke-width:5" />
    </svg>
    </div>
    <div class="container">
        <div class="left-margin"></div>
        <div class="images">
            <a href="https://www.linkedin.com/company/smartown-india/mycompany/" target="_blank">
            <img class="lady1 fade" src="assets/images/smartown_logo.jpeg"
              alt="smartown_logo">
            </a><a href="https://www.linkedin.com/company/spare/" target="_blank">
              <img class="lady1 fade" src="assets/images/spare_logo.jpeg"
              alt="smartownicon">
            </a><a href="https://www.linkedin.com/company/amazon/" target="_blank">
              <img class="lady1 fade" src="assets/images/amazon_logo.jpeg"
              alt="smartownicon">
            </a><a href="https://www.linkedin.com/company/rentmoola/" target="_blank">
              <img class="lady1 fade" src="assets/images/rentmoola_logo.jpeg"
              alt="smartownicon">
            </a>

        </div>
        
    </div>
</div>