<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="personal website, resume">
  <meta name="keywords" content="personal website, resume">
  <meta name="author" content="ManmeetKalra">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>



<div class="header">
  <div class="container" id="myContainer">
    <div class="menu-toggle">
    <i class="material-icons" style="color:white">view_headline</i>
    </div>
    <nav>
      <ul>
        <li class="current"><a href="#">Home</a></li>
        <li><a href="#work">WORK EXPERIENCE</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#resume">RESUME</a></li>
        <li><a href="#contact">CONTACT ME</a></li>
        
        <!--
        <div class="menu-toggle"><a href="javascript:void(0);" class="icon" onclick="myFunction()"></div>
          <li><i class="material-icons" style="color:white">view_headline</i></li>
        </a>-->
        
      </ul>
    </nav>
  </div>
</div>
<div>
</div>



<app-home id="home"></app-home>



<app-work id="work"></app-work>


<app-projects id="projects"></app-projects>

<app-resume id="resume"></app-resume>

<app-contact id="contact"></app-contact>

