<div class="container main-home">
    <div class="left-margin"></div>
    <div class="images">
        <img class="lady1 mySlides fade" src="assets/images/bitmoji.png"
          alt="bitmoji">
    </div>
    <div class="main-text">
        <div style="color: white;">
            <div class="home-text1">Hey, I'm</div>
            <div class="home-text3">Manmeet</div>
            <div class="home-text3">
            <svg height="10" width="400">
                <line x1="0" y1="0" x2="2000" y2="0" style="stroke:rgb(255,255,255);stroke-width:5" />
            </svg></div>
            <div class="home-text2" style="padding-top: 3rem;">Former Software Engineer Intern @ SmartOwn</div>
            <div class="home-text2">BSc Software Systems @ SFU</div>
        </div><!--
        <div class="app-link">
            <a style="margin-right: 3rem;" href="https://play.google.com/store/apps/details?id=com.smartown"><img class="img-res" src="assets/images/applestore.png"
                alt="App
            Store"></a>
            <a href="https://play.google.com/store/apps/details?id=com.smartown"><img class="img-res" 
                src="assets/images/playstore.png" alt="Play
            Store"></a>   
        </div>-->
    </div>
    <!--
    <div class="images">
        <img class="lady1 mySlides fade" src="assets/images/lady1.jpg"
          alt="lady1">
        <img class="lady2 mySlides fade" src="assets/images/lady2.jpg"
          alt="lady2">
        <img class="lady3 mySlides fade" src="assets/images/lady3.jpg"
          alt="lady3">
    </div> -->
</div>

